# API URL for backend
REACT_APP_API_URL=https://apikalzy.vercel.app
REACT_APP_WYTPASS_CLIENT_ID=wn_live_33b5d58dcf12f3e395272e8a07c97b8e
REACT_APP_WYTPASS_AUTH_URL=https://wytnet.com/oauth/authorize
REACT_APP_WYTPASS_REDIRECT_URI=https://kalzy.vercel.app/api/auth/callback/whitenet
